@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

html{
  font-size: 62.5%;
}

body{
  overflow-x: hidden;
  font-family: 'Hanken Grotesk', sans-serif;
  
}

a{
  text-decoration: none;
  display:inline-block;
}
li{
  list-style: none;
}

#login-card{
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12px );
-webkit-backdrop-filter: blur( 12px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


:disabled{
  opacity: .6;
}

